<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examen</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>
<div class="containerM">
    <form method="POST">
        <div class="form-group">
            <a  href="funcion1" class="button2" style="background-color:#B926B2">Ejercicio 1</a>
            &nbsp;
            <a  href="funcion2" class="button2" style="background-color:#86B618">Ejercicio 2</a>
        </div>
    </form>
</div>
</body>
</html>